html, body, video, div {
	padding:0;
	margin:0;
	border:0;
	font-size:0;
}

video {
	width:20%;
	height: 20%;
	object-fit:fill;
}

button, input {
	font: 35px/1.2 Helvetica, arial, sans-serif;
	margin-left:auto;
	margin-right:auto;
}